<h2 class="title-templates">Nosotros</h2>
<section class="accordion">
    <h3 class="accordion_title">¿Quienes somos?</h3>
    <div class="accordion_content">
        <p>Somos una empresa Argentina que se dedica a la venta de una variedad de juguetes en distintas áreas y campos.</p>
    </div>
    <h3 class="accordion_title">¿Donde nos encontramos?</h3>
    <div class="accordion_content">
        <p>Nos encontramos en CABA Av.siemprevivas 742.</p>
    </div>
    <h3 class="accordion_title">¿Realizamos envíos internacionales?</h3>
    <div class="accordion_content">
        <p>Nuestro radio de envíos es a lo largo y ancho del país.</p>
    </div>
    <h3 class="accordion_title">Envíos a domicilios</h3>
    <div class="accordion_content">
        <p>Realizamos envíos a domicilios únicamente en CABA.</p>
    </div>
    <h3 class="accordion_title">Devolución del producto</h3>
    <div class="accordion_content">
        <p>La devolución de los productos son validos según cumpla con los siguientes requisitos:</p><br>
        <p>-El producto debe estar en perfectas condiciones.</p>
        <p>-Debe ser devuelto en menos de 48 hr de comprado.</p>
        <p>-Debe contener la factura.</p>
    </div>
</section>