@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,400;1,600;1,700;1,800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* font-family: 'Shantell Sans', cursive; */
    /* background-color: #1982C4; */
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/img/fondo.jpeg);
}
header {
    background-color: #000000;
    padding: 10px 10%;
    /* border-bottom: 1px solid #757575; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 0 0 20px #000000;
}
.btn-nav {
    display: none;
    color: #ffffff;
    cursor: pointer;
    background-color: #000000;
    font-size: 20px;
    border: none;
}
.nav-active {
    display: block;
}
nav ul {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
nav li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
nav li a:hover {
    text-shadow: 0 5px 10px,0 -5px 10px;
    transition: 250ms;
}
.logo img {
    width: 120px;
    max-height: 80px;
}
section {
    padding: 40px 20px;
}
/* cart */
.btn-cart {
    cursor: pointer;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 25px;
} 
.btn-cart-active {
    color: #757575;
}
.cart-modal-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    position: fixed;
    overflow: auto;
    max-height: 100vh;
    box-shadow: 0 0 20px 0 #000000;
    top: 0;
    right: 0;
    visibility: hidden;
}
.cart-modal-container-active {
    visibility: visible;
}
.cart-modal-container::-webkit-scrollbar {
    width: 0;
}
.cart-modal-container table,th,td,tr {
    border: 1px solid #000000;
    padding: 10px;
    border-collapse: collapse;   
}
.btn-close-modal {
    color: #ffffff;
    background-color: #af092a;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 40px;
    cursor: pointer;
    margin-bottom: 10px;
    align-self: flex-end;
}
.cart-modal-container tbody img {
    max-width: 100px;
    max-height: 100px;
}
.btn-clear-product {
    background-color: transparent;
    color:#af092a;
    cursor: pointer;
    padding: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.title-templates {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-top: 4rem;
    text-transform: capitalize;
    color: #ffffff;
    text-shadow: 0 5px 10px #000000,0 -5px 10px #000000;
}
/* create */
form {
    margin-top: 40px;
    padding: 10px;
}
form > fieldset {
    padding: 20px 80px;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
}
fieldset div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
label {
    font-weight: 600;
    text-transform: capitalize;
}
.f1 {
    background-color: #FFCA3A;
    border:  2px dashed #d4a932;
    box-shadow: 0 0 20px 0 #000000;
    border-radius: 5px;
}
.f2 {
    background-color: #EF476F;
    border: 2px dashed #af092a;
    box-shadow: 0 0 20px 0 #000000;
    border-radius: 5px;
}
.f3 {
    background-color: #6A4C93;
    border: 2px dashed #532e88;
    box-shadow: 0 0 20px 0 #000000;
    border-radius: 5px;
}
legend {
    font-weight: 600;
    text-transform: capitalize;
}
.c_edad {
    padding: 20px 0;
    border: none;
    display: flex;
    align-items: center;
}
.c_edad input {
    max-width: 50px;
    margin: 0 10px;
}
.c_envio label {
    margin-right: 20px;
}
.c_envio {
    border: none;
    padding: 20px 0;
}
input,select,textarea {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px 0 #000000;
}
textarea {
    resize: vertical;
}
.f1 input:focus,select:focus {
    border: 2px dashed #d4a932;
}
.f2 textarea:focus {
    border: 2px dashed #af092a;
}
.f3 input:focus {
    border: 2px dashed #6A4C93;
}
.foto input {
    display: none;
}
.foto label {
    background-color: #ffffff;
    width: 200px;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 #000000;
    border-radius: 5px;
}
.foto label:hover {
    border: 2px dashed #6A4C93;
}
.f3 button {
    border: none;
    border-radius: 5px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Shantell Sans', cursive;
    background-color: #ffffffa8;
}
.f3 button:hover {
    border: 2px dashed #6A4C93;
    transform: scale(1.2);
    transition: 250ms;
    cursor: pointer;
}
.section-products-table h2 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: 0 5px 10px #000000,0 -5px 10px #000000;
}
.products-table-container {
    display: flex;
    justify-content: center;
    background-color: #8ac926;
    padding: 20px 80px;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    border: 2px dashed #63970f;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #000000;
    margin-bottom: 40px;
}
.table-products {
    background-color: #ffffff;
    border-collapse: collapse;
}
.table-products caption {
    color: #ffffff;
    font-size: 1.4rem;
    margin: 1rem;
}
.btn-delete {
    color: #af092a;
    cursor: pointer;
    padding: 0 4px;
    font-weight: 700;
}
.btn-edit {
    cursor: pointer;
    margin: 0 0;
    padding: 0 4px;
    margin-bottom: 4px;
}
.table-edit {
    text-align: center;
}

/* contacto */
.f_contacto {
    background-color: #8ac926;
    padding: 20px 80px;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    border: 2px dashed #63970f;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #000000;
    margin-bottom: 40px;
}
.f_contacto div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.f_contacto button {
    border: none;
    border-radius: 5px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Shantell Sans', cursive;
    background-color: #ffffffa8;
}
.f_contacto input:focus {
    border: 2px dashed #63970f;
}
.f_contacto textarea:focus {
    border: 2px dashed #63970f;
}
.f_contacto button:hover {
    border: 2px dashed #63970f;
    transform: scale(1.2);
    transition: 250ms;
    cursor: pointer;
}
.f_contacto label {
    font-weight: 600;
    text-transform: capitalize;
}

/* acordion */
.accordion {
   max-width: 600px;
   margin: 0 auto;
}
.accordion_title {
    background-color: #FFCA3A;
    padding: 10px;
    border: 2px dashed #d4a932;
    cursor: pointer;
    box-shadow: 0 0 20px 0 #000000;
}
.accordion_title:first-of-type {
    border-radius: 5px 5px 0 0;
}
.accordion_title:last-of-type {
    border-radius: 0 0 5px 5px;
}
.accordion_content {
    background-color: #ffffff;
    height: 0;
    overflow: hidden;
    transition: 400ms;
    box-shadow: 0 0 20px 0 #000000;
}
.accordion_content_active {
    height: 150px;
    padding: 10px;
}

/* footer */
.items-social {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #000000;
    align-items: center;
}
.items-social ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    margin-top: 0;
}
.items-social li a i {
    color: #ffffff;
    font-size: 30px;
}
.items-social li a i:hover {
    transform: scale(1.4);
    text-shadow: 0 0 10px;
    transition: 250ms;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
    background-color: #3a86ff;
}
.footer-container > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
footer li a {
    text-decoration: none;
    color: #000000;
}
footer li a:hover {
    text-decoration: underline;
    color: #ffffff;
    transition: 250ms;
}
.footer-about-proyect {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 800;
    font-size: 18px;
}
footer h2 {
    font-weight: 800;
}

@media screen and (max-width: 500px){
    .btn-nav {
        display: block;
    }
    nav {
        width: 100%;
        display: none;
    }
    nav ul {
        flex-direction: column;
        margin-top: 50px;
    }
    .footer-container {
       gap: 40px;
    }
    form > fieldset {
        padding: 20px 20px;
    }
    .f_contacto {
        padding: 20px 20px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .accordion_content {
        overflow: scroll;
    }
    .cart-modal-container {
        max-width: 100%;
        padding: 10px;
        max-height: 50vh;
    }
}

@media screen and (max-width: 850px){
    .btn-nav {
        display: block;
    }
    nav {
        width: 100%;
        display: none;
    }
    nav ul {
        flex-direction: column;
        margin-top: 50px;
    }
    .f_contacto {
        padding: 20px 20px;
        margin-right: 5%;
        margin-left: 5%;
    }
}